# 모델 파일 (Git에 올리지 않음)
models/emotion_model.h5
assets/shape_predictor_68_face_landmarks.dat

# Python 환경 파일
__pycache__/
*.py[cod]
*.h5
*.dat
*.log

# 가상환경 폴더
.venv/
venv/

# VSCode, PyCharm 설정
.vscode/
.idea/

# OS 파일
.DS_Store
