# 📁 모델 및 리소스 파일 무시
models/
assets/
*.h5
*.hdf5
*.dat
*.xml

# 🧠 딥러닝 학습 관련 체크포인트
*.ckpt
*.pb
*.pt
*.onnx

# 🐍 파이썬 캐시 및 가상환경 무시
__pycache__/
*.py[cod]
.venv/
venv/

# 📓 Jupyter 노트북 체크포인트
.ipynb_checkpoints/

# 🍏 macOS 시스템 파일
.DS_Store

# 🛠 IDE 설정 파일
.idea/
.vscode/
